<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}" />
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.svg')}}" type="image/x-icon" />
  <title>{{titleName}}</title>
</head>

<body>
  <header>
    <a href="/" class="logo-a">
      <img class="logo-img" src="{{url_for('static', filename='img/logo.png')}}" alt="Imagem de Fundo" />
      <h1 class="logo-text">Music<br>Album</h1>
    </a>
  </header>
</body>

</html>